services:
  verifier-service:
    build:
      context: .
      dockerfile: Dockerfile
      no_cache: true
    ports:
      - "8082:8082"
    environment:
      - PORT=8082
      - RUST_LOG=info
    container_name: verifier-service

