apiVersion: v1
kind: ConfigMap
metadata:
  name: backstage-config
  namespace: backstage
data:
  app-config.production.yaml: |
    app:
      title: SBOM Sharing System Portal
      baseUrl: http://backstage.backstage.svc.cluster.local:7007

    organization:
      name: TU Berlin Blockchain Prototyping

    backend:
      baseUrl: http://backstage.backstage.svc.cluster.local:7007
      listen:
        port: 7007
        host: 0.0.0.0
      database:
        client: better-sqlite3
        connection: ':memory:'
      cors:
        origin: '*'
        methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
        credentials: true

    integrations:
      github:
        - host: github.com
          token: ${GITHUB_TOKEN}

    proxy:
      endpoints:
        '/proving-service':
          target: 'http://proving-service.sharing-sbom-system.svc.cluster.local'
          changeOrigin: true
        '/verifier-service':
          target: 'http://verifier-service.sharing-sbom-system.svc.cluster.local'
          changeOrigin: true
        '/ipfs-service':
          target: 'http://ipfs-service.sharing-sbom-system.svc.cluster.local'
          changeOrigin: true
        '/blockchain':
          target: 'http://hardhat-node.blockchain.svc.cluster.local:8545'
          changeOrigin: true

    catalog:
      import:
        entityFilename: catalog-info.yaml
        pullRequestBranchName: backstage-integration
      rules:
        - allow: [Component, System, API, Resource, Location, Template]
      locations:
        - type: url
          target: https://github.com/tuberlin-blockchain-prototyping/sharing-sbom-system/blob/main/catalog/systems.yaml
        - type: url
          target: https://github.com/tuberlin-blockchain-prototyping/sharing-sbom-system/blob/main/catalog/proving-service.yaml
        - type: url
          target: https://github.com/tuberlin-blockchain-prototyping/sharing-sbom-system/blob/main/catalog/verifier-service.yaml
        - type: url
          target: https://github.com/tuberlin-blockchain-prototyping/sharing-sbom-system/blob/main/catalog/ipfs-service.yaml
        - type: url
          target: https://github.com/tuberlin-blockchain-prototyping/sharing-sbom-system/blob/main/catalog/blockchain-node.yaml

    kubernetes:
      serviceLocatorMethod:
        type: 'multiTenant'
      clusterLocatorMethods:
        - type: 'config'
          clusters:
            - name: kind-sbom-cluster
              url: https://kubernetes.default.svc
              authProvider: 'serviceAccount'
              skipTLSVerify: true
              skipMetricsLookup: false

    techdocs:
      builder: 'local'
      generator:
        runIn: 'local'
      publisher:
        type: 'local'

    auth:
      providers:
        guest: {}

    permission:
      enabled: true
